/* Element styles */

body { 
    background-image: url(../resources/images/mars-polar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px; 
}

h1 {
	line-height: 100%;
}

a {
    color: #ddd;
}

/* Main container */

#container {
	width: 906px;  /* Based on mars-map.png width */
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: Verdana, 'DejaVu Sans', sans-serif;
	font-size: 12pt;
	line-height: 150%;
}

/* Page divs */

.highlight {
	margin-bottom: 20px;
	padding: 5px 25px 5px 25px;
	background: rgba(40, 40, 40, 0.7);
	color: #dd0;
}

#overlay-outer {
	position: relative;
	height: 455px;
}

.overlay {
	position: absolute;
}

#computation-code {
    margin-bottom: 20px;
}

.left-col {
	float: left;
	width: 440px;
}

.right-col {
	float: right;
	width: 440px;
}

.clear {
	clear: both;
}

.footnote {
	font-size: 9pt;
	line-height: 120%;
}

.preloader {
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	background-image: url(../resources/images/preloader-white.gif);
}

/* d3 */

.draggable {
	cursor: move;
}