/* Element styles */

body {
	font-family: Verdana, 'DejaVu Sans', sans-serif;
	background-image: url(../resources/images/mars-polar.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px 0px; 
}

h1 {
	line-height: 120%;
}

a {
	color: #ddd;
}

/* Main container */

#container {
	width: 906px;  /* Based on mars-map.png width */
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 12pt;
	line-height: 150%;
}

/* Page divs */

.highlight {
	margin-bottom: 20px;
	padding: 5px 25px 5px 25px;
	background: rgba(40, 40, 40, 0.7);
	color: #dd0;
}

#graphics {
	position: relative;
	width: 860px;
	height: 300px;
	text-align: center;
}

#computation-code {
	margin-bottom: 20px;
}

.left-col {
	float: left;
	width: 440px;
}

.right-col {
	float: right;
	width: 440px;
}

.clear {
	clear: both;
}

.footnote {
	font-size: 9pt;
	line-height: 120%;
}

.preloader {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	background-image: url(../resources/images/preloader-white.gif);
}

/* d3 */

#rect {
	fill: green;
}

.rock-region {
	cursor: pointer;
}

.rock-region-adjust-density {
	cursor: ns-resize;
}

.rock-region-text {
	text-anchor: middle;
	fill: white;
	pointer-events: none;
}

.rock-boundary {
	fill: #444;
	opacity: 0.9;
	cursor: col-resize;
}

.rock-text {
	text-anchor: middle;
	fill: white;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.draggable {
	cursor: move;
}

.d3clickable {
	cursor: pointer;
}